# 02807: Project 1
 
## Practical information
 
* This project must be completed in groups of 3 students.
    * The group must be registered on the course site on DTU Learn: My Course > Groups
* This project must be handed in as a jupyter notebook to the course site on DTU Learn. 
    * Go to the Course Content > Assignments tab to upload your submission. 
* This project is due on Monday, November 1, 20:00.

## Submission rules

* Each group has to hand in *one* notebook (`.ipynb`) with their solutions, including a filled out Contribution table (see below).
* Your solution must be written in Python.
* For each question you should use the cells provided ("`# your code goes here`") for your solution
    * It is allowed to add code cells within a question block, but consider if it's really necessary.
* You should not remove the problem statements, and you should not modify the structure of the notebook.
* Your notebook should be runnable and readable from top to bottom.
    * Meaning that your code cells work when run in order (from top to bottom).
    * Output of any cell depends only on itself and cells above it.
* Your notebook should be submitted after having been run from top to bottom.
    * This means outputs are interpretable without necessarily running your cells.
    * The simplest way to achieve this is using the jupyter menu item Kernel > Restart & Run All just prior to submission. If any cell fails when you do this, your notebook is not ready for submission.
* Failure to comply may make it impossible for us to evaluate your submission properly, which will likely negatively impact the points awarded.
    
 
## Colaboration policy
 
* It is not allowed to collaborate on the exercises with students outside your group, except for discussing the text of the exercise with teachers and fellow students enrolled on the course in the same semester. 
* It is not allowed to exchange, hand-over or in any other way communicate solutions or parts of solutions to the exercises. 
* It is not allowed to use solutions from similar courses, or solutions found elsewhere.

## Contribution table and grading

* The total amount of points in the project is 110.
* You have to indicate who has solved each part of each exercise in a **contribution table**. 
* The following is an example of a contributions table:

|        | Exercise 1 | Exercise 2 | Exercise 3 | Exercise 4 |
|--------|------------|------------|------------|------------|
| **Part 1** | John       |    Mary        |     Ann       |   Mary, Ann         |
| **Part 2** |     Mary       |    Mary        |   Ann         |    John, Ann        |
| **Part 3** |     John, Mary, Ann       |      John, Ann      |   John         | **n.a.**      |
| **Part 4** | **n.a.**       |  Ann          |     John, Mary       | **n.a.**       |
| **Part 5** | **n.a.**     | John, Mary, Ann           | John       | **n.a.**       |

* A group member can take credit for solving a part of an exercise only if they have contributed **substantially** to the solution. 
    * Simple contributions, such as correcting a small bug or double-checking the results of functions, are not sufficient for taking credit for a solution.
    * Several group members can take credit for the same solution if they all have contributed substantially to it.
* Each group member must contribute **at least 50 points**. 
    * If no name is provided for an exercise's part, **all group members** are considered contributors to it.
* Group members should decide amongst themselves how to collaborate on the project to meet the above-mentioned constraints.  
* Scores are individual. The score $\text{score}(m)$ for a group member $m$ ranges from 0 to 10 and is calculated as follows: 

  * $\text{individual-score}(m) = \frac{\text{total number of points for the parts correctly solved by }m}{\text{total number of points for the parts contributed by }m}$

  * $\text{group-score} = \frac{\text{total number of points correctly solved by any group member}}{\text{total number of points in the project}}$

  * $\text{score}(m) =  7.5 \cdot \text{individual-score}(m) + 2.5 \cdot \text{group-score}$

* **Example**: in the contribution table above, suppose that all parts are solved correctly except for those of Exercise 4, which are both wrong. Then Ann's score is calculated as follows:

  * $\text{individual-score}(Ann) = \frac{2.5+12.5+12.5+2.5+15+5}{2.5+12.5+12.5+2.5+15+5 + 10 + 10} = \frac{50}{70} = 0.714$

  * $\text{group-score} = \frac{90}{110} = 0.818$

  * $\text{score}(Ann) = 7.5\cdot 0.714 + 2.5 \cdot 0.818 = 7.4$

# Group declaration table 

This table must be filled before submission.

In [1]:
import pandas as pd

d = {'Exercise 1': ["", "", "", "---", "---"],
     'Exercise 2': ["", "", "", "", ""],
     'Exercise 3': ["", "", "", "", ""],
     'Exercise 4': ["", "", "---", "---", "---"],
     }

ct = pd.DataFrame(d, index=['Part 1', 'Part 2', 'Part 3', 'Part 4', 'Part 5'])

ct

       Exercise 1 Exercise 2 Exercise 3 Exercise 4
Part 1
Part 2
Part 3                                         ---
Part 4        ---                              ---
Part 5        ---                              ---

# Introduction to the Datasets

![link text](https://ph-files.imgix.net/069dd825-cddf-4048-adde-8e81396c2c68?auto=format)


You will be working with datasets obtained through the [The Movie Database (TMDb) API](https://developers.themoviedb.org/3/getting-started/introduction). The first dataset is part of the MovieLens Latest Full Dataset, comprising 26 million ratings on 45.000 movies from 27.000 users. Let's look at the features in this dataset.

**Features**

* **adult**: Indicates if the movie is X-Rated.
* **belongs_to_collection**: A stringified dictionary with info on the movie series a particular film belongs to (e.g.: Lord of the Rings).
* **budget**: The movie budget in dollars.
* **genres**: A stringified list of dictionaries describing all genres associated with the movie.
* **homepage**: The movie's official homepage.
* **id**: An identifier for the movie.
* **imdb_id**: IMDB's identifier for the movie.
* **original_language**: The language in which the movie was shot.
* **original_title**: The original title of the movie.
* **overview**: A brief text about the movie.
* **popularity**: A Popularity Score given by TMDb.
* **poster_path**: The URL of the poster image.
* **production_companies**: A stringified list of production companies involved with making of the movie.
* **production_countries**: A stringified list of countries in which the movie was produced.
* **release_date**: Release date of the movie in theaters.
* **revenue**: The total revenue of the movie in dollars.
* **runtime**: The runtime of the movie in minutes.
* **spoken_languages**: A stringified list of languages spoken in the film.
* **status**: The status of the movie (Released, To Be Released, etc.)
* **tagline**: The movie's tagline.
* **title**: The official title of the movie.
* **video**: Indicates whether there is a video of the movie in TMDb.
* **vote_average**: The average rating of the movie, on a 0-10 scale.
* **vote_count**: The number of votes by users, as counted by TMDb.

# Imports

First, let's make sure to import Pandas and NumPy.

In [2]:
import pandas as pd
import numpy as np

# Exercise 1: Loading, preprocessing and cleaning the data (15 points)

Read the movie dataset from the following URL.

In [3]:
url = 'http://courses.compute.dtu.dk/02807/2021/projects/project1/movies_metadata.csv'

## Part 1: Reading and preprocessing the data (10 pts)

Pandas infers a data type for raw data from a `.csv`, defaulting to string type when no other `dtype` could be established. For example, the `genres` column in our dataset is read as a string with a *stringified* list of dictionaries as cell content. 

Some preprocessing steps are therefore needed, to convert the columns into their proper data types.

Write a function `load_movies_data()` that reads the URL into a Pandas DataFrame and preprocesses its columns to ensure that:

1. Data in the `release_date` column consists of Pandas `Timestamp` objects, except for missing values. For example, executing a code cell with `df.release_date[0]` should display the output `Timestamp('1995-10-30 00:00:00')`.

2. Data in `belongs_to_collection` consists of dictionaries, except for missing values.

3. Data in `genres`, `production_companies` and `production_countries` consists of lists of dictionaries, except for missing values. 

For example, executing a code cell with `df.genres[0]` should display the output 
```
[{'id': 16, 'name': 'Animation'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 10751, 'name': 'Family'}]
```
which is a list type, not a string. The elements of the list are dictionaries (executing `df.genres[0][0]['name']` returns `'Animation'`). 

**Hint**: for items 2 and 3, you should use `ast.literal_eval`.

These conversions can be performed using Pandas' built-in functions and/or calling Pandas' `apply()` with appropriate arguments. Avoid explicit looping. You'll be asked below to time the loading and preprocessing step.

In [4]:
import ast

In [5]:
def literal_eval(x):
    if not pd.isna(x):
        return ast.literal_eval(x)
    else:
        return np.NaN

In [6]:
def load_movies_data(url):
    df = pd.read_csv(url)
    df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')
    df['belongs_to_collection'] = df['belongs_to_collection'].apply(
        literal_eval)
    df['genres'] = df['genres'].apply(literal_eval)
    df['production_companies'] = df['production_companies'].apply(literal_eval)
    df['production_countries'] = df['production_countries'].apply(literal_eval)
    return df

Now call `load_movies_data()` and load the data into a DataFrame `df`.

In [7]:
% % time
df = load_movies_data(url)

<timed exec>:1: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.

Wall time: 6.46 s

Display the DataFrame. You should check that it looks correct.

In [8]:
df.head(2).T

,0,1
adult,False,False
belongs_to_collection,"{'id': 10194, 'name': 'Toy Story Collection', ...",NaN
budget,30000000,65000000
genres,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'id': 12, 'name': 'Adventure'}, {'id': 14, '..."
homepage,http://toystory.disney.com/toy-story,NaN
id,862,8844
imdb_id,tt0114709,tt0113497
original_language,en,en
original_title,Toy Story,Jumanji
overview,"Led by Woody, Andy's toys live happily in his ...",When siblings Judy and Peter discover an encha...
popularity,21.946943,17.015539
poster_path,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg
production_companies,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'name': 'TriStar Pictures', 'id': 559}, {'na..."
production_countries,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o..."
release_date,1995-10-30 00:00:00,1995-12-15 00:00:00
revenue,373554033.0,262797249.0
runtime,81.0,104.0
spoken_languages,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}, {'iso..."
status,Released,Released
tagline,NaN,Roll the dice and unleash the excitement!
title,Toy Story,Jumanji
video,False,False
vote_average,7.7,6.9
vote_count,5415.0,2413.0

## Part 2: Timing your function (2.5 pts)

Time the performance of your function. To get the points for this part, the time reported below must not exceed 40 seconds.

In [9]:
load_time = %timeit - o - r 3 load_movies_data(url)
print("Time (s):", load_time.best)

<magic-timeit>:1: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.

5.93 s ± 78.1 ms per loop (mean ± std. dev. of 3 runs, 1 loop each)
Time (s): 5.835549900000004

## Part 3: Cleaning the data (2.5 pts)

Filter/drop all rows in `df` meeting any of these conditions:
* The `adult` value is not `'False'`
* The `vote_count` value is missing
* The `vote_average` value is missing

Do not loop over rows to perform these checks. Use Pandas' built-in functionality to do so.

We will do some checks on the values of the `adult` column

In [10]:
df.adult.unique()

array(['False', 'True', ' - Written by Ørnås',
       ' Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.',
       ' Avalanche Sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.'],
      dtype=object)

Through manual investigation in the .csv file it is noted that there are 3 movies with line breaks in the description which causes the parser to handle it as a new line in the dataframe. We decided to drop those rows and the row before those to eliminate the affected rows. Removing 3 movies should not be significant for our further analysis

In [11]:
bad_index = df[~df.adult.isin(['False', 'True'])].index
df[~df.adult.isin(['False', 'True'])]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
19730,- Written by Ørnås,0.065736,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,"[{'name': 'Carousel Productions', 'id': 11176}...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1997-08-20,0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29503,Rune Balot goes to a casino connected to the ...,1.931659,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,"[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...","[{'iso_3166_1': 'US', 'name': 'United States o...",2012-09-29,0,68.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35587,Avalanche Sharks tells the story of a bikini ...,2.185485,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,"[{'name': 'Odyssey Media', 'id': 17161}, {'nam...","[{'iso_3166_1': 'CA', 'name': 'Canada'}]",2014-01-01,0,82.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df = df.drop(bad_index)

Now we drop the X rated movies and NaN values in `vote_count` and `vote_average`

In [13]:
df = df.drop(df[df.adult == 'True'].index)

In [14]:
df = df.dropna(subset=['vote_count', 'vote_average'])

# Exercise 2: Computing IMDb's ratings (35 points)

The Top Rated 250 titles in IMDb are calculated using [a formula](https://help.imdb.com/article/imdb/track-movies-tv/ratings-faq/G67Y87TFYYP6TWAV#calculatetop) that takes into account the number of votes that a title has received, the minimum votes required to be on the list, and the mean vote for all titles. The rating for a title is given as follows:

$$ \text{weighted rating } = \left(\frac{v}{v+m} \cdot R\right) + \left(\frac{m}{v+m} \cdot C\right)$$

Where:

$m$ = the minimum number of votes required to be listed in the Top Rated ranking. We'll let $m=1000$.

$v$ = the number of votes received by the title (the title's **`vote_count`** value)

$R$ = the average rating for the title (the title's **`vote_average`** value)

$C$ = the mean vote across the whole list (the mean over the **`vote_average`** column)

We are going to compute the ratings for movies that could be listed in IMDb's Top Rated 250 ranking.  We want to do this as efficiently as possible. As a baseline for benchmarking, we'll use an approach that explicitly loops and indexes over the rows of the dataset and computes the weighted rating for the corresponding movie (if the movie has more than 1000 votes).

In [15]:
C = df['vote_average'].mean()
m = 1000


def weighted_rating(row):
    if row['vote_count'] > m:
        v = row['vote_count']
        R = row['vote_average']
        return (v/(v+m) * R) + (m/(v+m) * C)
    else:
        return np.nan


def weighted_rating_loop(df):
    rating_list = []
    for i in range(len(df)):
        rating = weighted_rating(df.iloc[i])
        rating_list.append(rating)
    df['imdb_rating'] = rating_list

In [16]:
weighted_rating_loop(df)

columns_to_show = ['id', 'original_title'] + \
    list(df.columns[df.columns.str.startswith('imdb_rating')])
df[columns_to_show].head()

      id               original_title  imdb_rating
0    862                    Toy Story     7.375533
1   8844                      Jumanji     6.524536
2  15602             Grumpier Old Men          NaN
3  31357            Waiting to Exhale          NaN
4  11862  Father of the Bride Part II          NaN

Let's look at the average performance of this function:

In [17]:
basic_time = %timeit - r 3 - o weighted_rating_loop(df)
print("Best time:", basic_time.best)

7.94 s ± 192 ms per loop (mean ± std. dev. of 3 runs, 1 loop each)
Best time: 7.738506600000001

In the remaining parts of the exercise, you are going to be asked to come up with alternative ways to compute the ratings, using various methodologies. Let's create a score board to keep track of performance. Here's a description of the rows:

*   **Best single run time (s)**:  The best time used by your solution, in seconds.
*   **Marginal performance improvement**: The time improvement of your current solution over its immediately preceding solution. Given by: $\frac{\text{best single run time (s) of previous solution}}{\text{best single run time (s) of current solution}}$
*   **Performance improvement over basic looping**:  The time improvement over our baseline solution. Given by: $\frac{\text{best single run time (s) of weighted_rating_loop}}{\text{best single run time (s) of current solution}}$
*   **Best single run time (s, teacher)**: The time of a solution provided by the teacher. 
*   **Marginal performance improvement (teacher)**: The time improvement of the teacher's solution over its immediately preceding solution. 
*   **Performance improvement over basic looping (teacher)**:  The teacher's solution improvement over the baseline solution.

In [18]:
timing_data = {
    'Best single run time (s)': [basic_time.best, np.nan, np.nan, np.nan, np.nan],
    'Marginal performance improvement': [np.nan, np.nan, np.nan, np.nan, np.nan],
    'Performance improvement over basic looping': np.nan,
    'Best single run time (s, teacher)': [9.37, 3.87, 0.562, 0.0054, 0.00084],
    'Marginal performance improvement (teacher)': [np.nan, 'x2.42', 'x6.88', 'x103.8', 'x6.45'],
    'Performance improvement over basic looping (teacher)': [np.nan, 'x2.42', 'x16.69', 'x1732.17', 'x11172.98']
}

indices = ['Basic looping', 'Iterrows looping',
           'apply()', 'Pandas vectorisation', 'NumPy vectorisation']
timings = pd.DataFrame(timing_data, index=indices)
timings

,Best single run time (s),Marginal performance improvement,Performance improvement over basic looping,"Best single run time (s, teacher)",Marginal performance improvement (teacher),Performance improvement over basic looping (teacher)
Basic looping,7.738507,NaN,NaN,9.37000,NaN,NaN
Iterrows looping,NaN,NaN,NaN,3.87000,x2.42,x2.42
apply(),NaN,NaN,NaN,0.56200,x6.88,x16.69
Pandas vectorisation,NaN,NaN,NaN,0.00540,x103.8,x1732.17
NumPy vectorisation,NaN,NaN,NaN,0.00084,x6.45,x11172.98

**The grading for the following parts works as follows.**

Let $m$ be the marginal performance improvement for the teacher's solution over basic looping, and let $m'$ be the marginal performance improvement for your solution over `basic_time`. If a part gives $n$ points, then you will get the $n$ points if $m' \geq 0.4 m$, and 0 points otherwise.

You don't get extra points for performing faster than the teacher's solution. But this is of course possible and you should feel free to optimise away as much as you want!

## Part 1: Looping with `iterrows` (2.5 pts)

Define a function `weighted_rating_iterrows(df)` that computes the ratings by looping over rows with the built-in iterator `iterrows`, and stores the results in a new column of the DataFrame called called `imdb_rating_iter`.

In [19]:
# your code goes here
def weighted_rating_iterrows(df):
    ratings_list = []

    for idx, row in df.iterrows():
        ratings_list.append(weighted_rating(row))

    df['imdb_rating_iter'] = ratings_list

Call the function and make sure that it works as intended.

In [20]:
weighted_rating_iterrows(df)

pd.testing.assert_series_equal(
    df.imdb_rating, df.imdb_rating_iter, check_names=False
)

columns_to_show = ['id', 'original_title'] + \
    list(df.columns[df.columns.str.startswith('imdb_rating')])
df[columns_to_show].head()

      id               original_title  imdb_rating  imdb_rating_iter
0    862                    Toy Story     7.375533          7.375533
1   8844                      Jumanji     6.524536          6.524536
2  15602             Grumpier Old Men          NaN               NaN
3  31357            Waiting to Exhale          NaN               NaN
4  11862  Father of the Bride Part II          NaN               NaN

Time the performance of the function.

In [21]:
iterrows_time = %timeit - r 3 - o weighted_rating_iterrows(df)
print("Best time:", iterrows_time.best)

2.57 s ± 60.5 ms per loop (mean ± std. dev. of 3 runs, 1 loop each)
Best time: 2.4860405000000014

Update the score board with the best time, marginal and overall performance change you have obtained. Display the updated table below.

In [22]:
def formatter(time):
    return "x{:0.2f}".format(time)

In [23]:
timings.iloc[1, 0:3] = [iterrows_time.best,
                        formatter(basic_time.best / iterrows_time.best),
                        formatter(basic_time.best / iterrows_time.best)]
timings

,Best single run time (s),Marginal performance improvement,Performance improvement over basic looping,"Best single run time (s, teacher)",Marginal performance improvement (teacher),Performance improvement over basic looping (teacher)
Basic looping,7.738507,NaN,NaN,9.37000,NaN,NaN
Iterrows looping,2.486041,x3.11,x3.11,3.87000,x2.42,x2.42
apply(),NaN,NaN,NaN,0.56200,x6.88,x16.69
Pandas vectorisation,NaN,NaN,NaN,0.00540,x103.8,x1732.17
NumPy vectorisation,NaN,NaN,NaN,0.00084,x6.45,x11172.98

## Part 2: Using `apply()`. (5 pts)

Define a function `weighted_rating_apply(df)` that computes the ratings using Pandas' `apply()` function, and stores the results in a new column of the DataFrame called `imdb_rating_apply`.

In [24]:
def weighted_rating_apply(df):
    df['imdb_rating_apply'] = df.apply(weighted_rating, axis=1)

Call the function and make sure that it works as intended.

In [25]:
weighted_rating_apply(df)

pd.testing.assert_series_equal(
    df.imdb_rating, df.imdb_rating_apply, check_names=False
)

columns_to_show = ['id', 'original_title'] + \
    list(df.columns[df.columns.str.startswith('imdb_rating')])
df[columns_to_show].head()

,id,original_title,imdb_rating,imdb_rating_iter,imdb_rating_apply
0,862,Toy Story,7.375533,7.375533,7.375533
1,8844,Jumanji,6.524536,6.524536,6.524536
2,15602,Grumpier Old Men,NaN,NaN,NaN
3,31357,Waiting to Exhale,NaN,NaN,NaN
4,11862,Father of the Bride Part II,NaN,NaN,NaN

Time the performance of the function.

In [26]:
apply_time = %timeit - r 3 - o weighted_rating_apply(df)
print("Best time:", apply_time.best)

761 ms ± 55.7 ms per loop (mean ± std. dev. of 3 runs, 1 loop each)
Best time: 0.7058841000000058

Update the score board with the best time, marginal and overall performance change you have obtained. Display the updated table below.

In [27]:
timings.iloc[2, 0:3] = [apply_time.best,
                        formatter(iterrows_time.best / apply_time.best),
                        formatter(basic_time.best / apply_time.best)]
timings

,Best single run time (s),Marginal performance improvement,Performance improvement over basic looping,"Best single run time (s, teacher)",Marginal performance improvement (teacher),Performance improvement over basic looping (teacher)
Basic looping,7.738507,NaN,NaN,9.37000,NaN,NaN
Iterrows looping,2.486041,x3.11,x3.11,3.87000,x2.42,x2.42
apply(),0.705884,x3.52,x10.96,0.56200,x6.88,x16.69
Pandas vectorisation,NaN,NaN,NaN,0.00540,x103.8,x1732.17
NumPy vectorisation,NaN,NaN,NaN,0.00084,x6.45,x11172.98

## Part 3: Vectorised solution with Pandas (12.5 pts)

Let's find a vectorised solution using Pandas. You have to define a function `weighted_rating_pandas(df)` that computes the ratings in a vectorised way and stores them in a new column of the DataFrame called `imdb_rating_pandas`. Use Pandas operations only: don't transform your data into NumPy arrays.

In [28]:
def weighted_rating_pandas(df):
    mask = df['vote_count'] > m
    df_masked = df[mask]
    v = df_masked['vote_count']
    R = df_masked['vote_average']
    df['imdb_rating_pandas'] = (v/(v+m) * R) + (m/(v+m) * C)

Call the function and make sure it works as intended.

In [29]:
weighted_rating_pandas(df)

pd.testing.assert_series_equal(
    df.imdb_rating, df.imdb_rating_pandas, check_names=False
)

columns_to_show = ['id', 'original_title'] + \
    list(df.columns[df.columns.str.startswith('imdb_rating')])
df[columns_to_show].head()

,id,original_title,imdb_rating,imdb_rating_iter,imdb_rating_apply,imdb_rating_pandas
0,862,Toy Story,7.375533,7.375533,7.375533,7.375533
1,8844,Jumanji,6.524536,6.524536,6.524536,6.524536
2,15602,Grumpier Old Men,NaN,NaN,NaN,NaN
3,31357,Waiting to Exhale,NaN,NaN,NaN,NaN
4,11862,Father of the Bride Part II,NaN,NaN,NaN,NaN

Time the performance of the function.

In [30]:
pandas_time = %timeit - r 3 - o weighted_rating_pandas(df)
print("Best time:", pandas_time.best)

4.8 ms ± 142 µs per loop (mean ± std. dev. of 3 runs, 100 loops each)
Best time: 0.004642032000000001

Update the score board with the best time, marginal and overall performance change you have obtained. Display the updated table below.

In [31]:
timings.iloc[3, 0:3] = [pandas_time.best,
                        formatter(apply_time.best / pandas_time.best),
                        formatter(basic_time.best / pandas_time.best)]
timings

,Best single run time (s),Marginal performance improvement,Performance improvement over basic looping,"Best single run time (s, teacher)",Marginal performance improvement (teacher),Performance improvement over basic looping (teacher)
Basic looping,7.738507,NaN,NaN,9.37000,NaN,NaN
Iterrows looping,2.486041,x3.11,x3.11,3.87000,x2.42,x2.42
apply(),0.705884,x3.52,x10.96,0.56200,x6.88,x16.69
Pandas vectorisation,0.004642,x152.06,x1667.05,0.00540,x103.8,x1732.17
NumPy vectorisation,NaN,NaN,NaN,0.00084,x6.45,x11172.98

Time to reflect on your solution. Do the following: 
 
* Explain in words what your function does and why it is a vectorised solution. In particular, break down each step involving ufuncs, broadcasting and other vectorized calls. 
    * If your explanation has major errors, we will substract points for this part.
 
* Display profiler output and give an analysis of what you see.

**Answer:**
We make use of vectorization as we do the addition, division and multiplication on `pandas.Series` objects which utilize universal functions (ufuncs) in numpy that run element by element operations in C. This has much less overhead than python and is therefore faster. In terms of broadcasting, the scalar variable `C` is broadcast to an array when multiplying in `m / (v +m) * C`.

In [32]:
!pip install line_profiler
%reload_ext line_profiler

Collecting line_profiler
  Downloading line_profiler-3.3.1-cp39-cp39-win_amd64.whl (52 kB)
Requirement already satisfied: IPython>=0.13 in c:\users\adrie\miniconda3\lib\site-packages (from line_profiler) (7.27.0)
Requirement already satisfied: colorama in c:\users\adrie\miniconda3\lib\site-packages (from IPython>=0.13->line_profiler) (0.4.4)
Requirement already satisfied: traitlets>=4.2 in c:\users\adrie\miniconda3\lib\site-packages (from IPython>=0.13->line_profiler) (5.1.0)
Requirement already satisfied: pygments in c:\users\adrie\miniconda3\lib\site-packages (from IPython>=0.13->line_profiler) (2.10.0)
Requirement already satisfied: backcall in c:\users\adrie\miniconda3\lib\site-packages (from IPython>=0.13->line_profiler) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\adrie\miniconda3\lib\site-packages (from IPython>=0.13->line_profiler) (3.0.20)
Requirement already satisfied: setuptools>=18.5 in c:\users\adrie\miniconda3\lib\site-packages (from IPython>=0.13->line_profiler) (52.0.0.post20210125)
Requirement already satisfied: pickleshare in c:\users\adrie\miniconda3\lib\site-packages (from IPython>=0.13->line_profiler) (0.7.5)
Requirement already satisfied: decorator in c:\users\adrie\miniconda3\lib\site-packages (from IPython>=0.13->line_profiler) (5.0.9)
Requirement already satisfied: matplotlib-inline in c:\users\adrie\miniconda3\lib\site-packages (from IPython>=0.13->line_profiler) (0.1.2)
Requirement already satisfied: jedi>=0.16 in c:\users\adrie\miniconda3\lib\site-packages (from IPython>=0.13->line_profiler) (0.18.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\adrie\miniconda3\lib\site-packages (from jedi>=0.16->IPython>=0.13->line_profiler) (0.8.2)
Requirement already satisfied: wcwidth in c:\users\adrie\miniconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->IPython>=0.13->line_profiler) (0.2.5)
Installing collected packages: line-profiler
Successfully installed line-profiler-3.3.1

In [33]:
%lprun - f weighted_rating_pandas weighted_rating_pandas(df)

Timer unit: 1e-07 s

Total time: 0.0114749 s
File: C:\Users\adrie\AppData\Local\Temp/ipykernel_2664/3738383291.py
Function: weighted_rating_pandas at line 1

Line #      Hits         Time  Per Hit   % Time  Line Contents
==============================================================
     1                                           def weighted_rating_pandas(df):
     2         1      10280.0  10280.0      9.0      mask = df['vote_count'] > m
     3         1      29354.0  29354.0     25.6      df_masked = df[mask]
     4         1       4946.0   4946.0      4.3      v = df_masked['vote_count']
     5         1       2698.0   2698.0      2.4      R  = df_masked['vote_average']
     6         1      67471.0  67471.0     58.8      df['imdb_rating_pandas'] = (v/(v+m) * R) + (m/(v+m) * C)

**Profiler output**
```
Timer unit: 1e-07 s

Total time: 0.0116199 s
File: <ipython-input-70-df000d02628e>
Function: weighted_rating_pandas at line 1

Line #      Hits         Time  Per Hit   % Time  Line Contents
==============================================================
     1                                           def weighted_rating_pandas(df):
     2         1      21537.0  21537.0     18.5      mask = df['vote_count'] > m
     3         1      31060.0  31060.0     26.7      df_masked = df[mask]
     4         1       2290.0   2290.0      2.0      v = df_masked['vote_count']
     5         1        852.0    852.0      0.7      R  = df_masked['vote_average']
     6         1      60460.0  60460.0     52.0      df['imdb_rating_pandas'] = (v/(v+m) * R) + (m/(v+m) * C)
 ```

We see that 50% of the time is spent masking the dataframe for votes > 1000, the remaining time is spent doing the imdb rating calucalation

## Part 4: Vectorised solution with NumPy (12.5 pts)

Let's find a vectorised solution that uses NumPy to speed up the calculations. You have to define a function `weighted_rating_numpy(df)` that computes the ratings in a vectorised way and stores them in a new column of the DataFrame called `imdb_rating_numpy`.

In [34]:
df.drop('imdb_rating_numpy', axis=1, inplace=True)

KeyError: "['imdb_rating_numpy'] not found in axis"

In [ ]:
def weighted_rating_numpy(df):
    v_count = df['vote_count'].values
    v_avg = df['vote_average'].values

    mask = v_count > m
    v = v_count[mask]
    R = v_avg[mask]

    df.loc[mask, 'imdb_rating_numpy'] = (v/(v+m) * R) + (m/(v+m) * C)

Call the function and make sure it works as intended.

In [ ]:
weighted_rating_numpy(df)

pd.testing.assert_series_equal(
    df.imdb_rating, df.imdb_rating_numpy, check_names=False
)

columns_to_show = ['id', 'original_title'] + \
    list(df.columns[df.columns.str.startswith('imdb_rating')])
df[columns_to_show].head()

,id,original_title,imdb_rating,imdb_rating_iter,imdb_rating_apply,imdb_rating_pandas,imdb_rating_numpy
0,862,Toy Story,7.375533,7.375533,7.375533,None,7.375533
1,8844,Jumanji,6.524536,6.524536,6.524536,None,6.524536
2,15602,Grumpier Old Men,NaN,NaN,NaN,None,NaN
3,31357,Waiting to Exhale,NaN,NaN,NaN,None,NaN
4,11862,Father of the Bride Part II,NaN,NaN,NaN,None,NaN

Time the best performance of the function.

In [ ]:
numpy_time = %timeit - r 3 - o weighted_rating_numpy(df)
print("Best time:", numpy_time.best)

977 µs ± 89.7 µs per loop (mean ± std. dev. of 3 runs, 1000 loops each)
Best time: 0.0009113557000000583

Update the score board with the best time, marginal and overall performance change you have obtained. Display the updated table below.

In [ ]:
timings.iloc[4, 0:3] = [numpy_time.best,
                        formatter(pandas_time.best / numpy_time.best),
                        formatter(basic_time.best / numpy_time.best)]
timings

,Best single run time (s),Marginal performance improvement,Performance improvement over basic looping,"Best single run time (s, teacher)",Marginal performance improvement (teacher),Performance improvement over basic looping (teacher)
Basic looping,7.845957,NaN,NaN,9.37000,NaN,NaN
Iterrows looping,3.546622,x2.21,x2.21,3.87000,x2.42,x2.42
apply(),0.561464,x6.32,x13.97,0.56200,x6.88,x16.69
Pandas vectorisation,0.004892,x114.78,x1603.94,0.00540,x103.8,x1732.17
NumPy vectorisation,0.000911,x5.37,x8609.10,0.00084,x6.45,x11172.98

Time to reflect on your solution. Do the following: 
 
* Explain in words what your function does and why it is a vectorised solution. In particular, break down each step involving ufuncs, broadcasting and other vectorized calls. 
    * If your explanation has major errors, we will substract points for this part.
    * If applicable, you may refer back to the explanation you gave for `weighted_rating_pandas`.
 
* Display profiler output and give an analysis of what you see.
    * Contrast your findings with those from `weighted_rating_pandas`.

What happens behind the scenes in the vectorisation and related functions is the same as in the pandas implementation. However, now we avoid all the overhead of working with pandas Series and focus solely on the scalar values. Meaning there is no type checking, type casting and the like when doing the operations.

In [ ]:
%lprun - f weighted_rating_numpy weighted_rating_numpy(df)

Output of timing
```
Timer unit: 1e-07 s

Total time: 0.0031521 s
File: <ipython-input-165-57892d89729a>
Function: weighted_rating_numpy at line 1

Line #      Hits         Time  Per Hit   % Time  Line Contents
==============================================================
     1                                           def weighted_rating_numpy(df):
     2         1       2873.0   2873.0      9.1      v_count = df['vote_count'].values
     3         1       1695.0   1695.0      5.4      v_avg  = df['vote_average'].values
     4                                               
     5         1        720.0    720.0      2.3      mask = v_count > m
     6         1       3848.0   3848.0     12.2      v = v_count[mask]
     7         1       4068.0   4068.0     12.9      R = v_avg[mask]
     8                                               
     9         1      18317.0  18317.0     58.1      df.loc[mask, 'imdb_rating_numpy'] = (v/(v+m) * R) + (m/(v+m) * C)
```

The actual calculation uses only 18317 time units, this is much less than the previous solution which used 60460 time units

## Part 5: Find out the top 25 titles (2.5 pts)

What are the top 25 titles? Now that we have the IMDb ratings conveniently stored in a column, display the top 25 titles, together with their IMDb rating:

In [ ]:
df.nlargest(25, ['imdb_rating_numpy'])[['original_title', 'imdb_rating_numpy']]

                                          original_title  imdb_rating_numpy
314                             The Shawshank Redemption           8.192086
12481                                    The Dark Knight           8.097916
834                                        The Godfather           8.089770
2843                                          Fight Club           8.048880
292                                         Pulp Fiction           8.022704
15480                                          Inception           7.935393
351                                         Forrest Gump           7.917781
22879                                       Interstellar           7.896385
1154                             The Empire Strikes Back           7.831115
7000       The Lord of the Rings: The Return of the King           7.831037
522                                     Schindler's List           7.806722
23673                                           Whiplash           7.801217
18465                                       Intouchables           7.797277
256                                            Star Wars           7.780965
5481                                            千と千尋の神隠し           7.760254
4863   The Lord of the Rings: The Fellowship of the Ring           7.759254
46                                                 Se7en           7.741149
5814               The Lord of the Rings: The Two Towers           7.724400
2211                                     La vita è bella           7.722473
289                                                 Léon           7.712289
3030                                      The Green Mile           7.700299
1178                              The Godfather: Part II           7.693061
23753                            Guardians of the Galaxy           7.692858
2458                                          The Matrix           7.673643
1225                                  Back to the Future           7.671024

# Exercise 3: Predicting the genre of movies (40 points)

In this exercise, you'll be asked to create a number of features and use them to predict whether a movie is a science fiction movie or not. 
For this classification task, we'll work with a different part of the movies dataset, which contains more information for each movie.

In [35]:
train_url = 'http://courses.compute.dtu.dk/02807/2021/projects/project1/train.csv'

You'll try to predict whether a movie is a science fiction movie based on the other associated genres for the movie, the people and companies involved in making it, as well as its release date.

## Part 1: Adding binary features for genres (15 pts)

As in Exercise 1, the data on several columns is in a stringified format. Pre-process the following columns appropriately, as you did with the `genres` column in Part 1 of Exercise 1.
```
'belongs_to_collection', 'genres', 'production_companies','production_countries', 'spoken_languages', 'Keywords', 'cast', 'crew'
```
 
Don't loop explicitly over the rows to perform this preprocessing. Your dataframe should be named `train`.

In [ ]:
# your code goes here

Looking at the 'genres' column, you can see that movies have a varying number of associated genres.

In [ ]:
# this will work only if you've already preprocessed the genres' column into lists of dicts
for i, v in enumerate(train.genres.head()):
    print(i, v)

Count the number of movies that have $n$ associated genres, for each $n$ in the dataset. If a movie has no associated genres, assign it the number 0. 

You have to use Pandas built-in functions only (no explicit looping). For example, you could use `apply()` with an appropriate function to apply to each row. 

Once you have the counts, visualise them as a bar chart, with one bar per possible number of associated genres, and the height of the bar representing the number of movies with that number of genres.

In [ ]:
# your code goes here

Let's create our binary features next. Complete the following steps:
 
1.   Transform the `genres` column by replacing its current entries with the list of names of genres occurring in the entries.  For example, the entry 
```
[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]
```
should be transformed into:
```
['Romance','Comedy']
```
Empty entries should be transformed into the empty list `[]`.

2. Create a separate column (in `train`) for each of the 20 genres, with name `genres_(nameofgenre)` (e.g. `genres_Comedy`). A movie should have a 1 on a genres column if the genre is one of the associated genres for that movie, and a 0 otherwise.
    * To get started, consider what operations create a data frame with dimensions as `train` and columns as specified here, based on the list output from step 1. Then combine this data frame with `train`.

You have to use Pandas built-in functions only (no explicit looping).

In [ ]:
# your code goes here

Visualise the number of movies per top 20 genre with a chart of your choice.

In [ ]:
# your code goes here

## Part 2: Adding more binary features (5 pts)

You've now extracted binary features for all genres associated with a movie. But there's other information that we could use to base our predictions on. 

The `genres` column is just one out of several columns containing lists of dictionaries as entries. For example, the `production_companies` column also contains lists of dictionaries, providing names of the companies producing the movie. As you just did with genres, add new columns for:
 
1.   The names of the 30 most common production companies
2.   The names of the 30 most common production countries
3.   The names of the 30 most common actors (`cast` column) 
4.   The names of the 30 most common crew members
5.   The names of the 30 most common keywords
 
We recommend you generalize the functionality implemented in the previous question (e.g. to other columns and to restrict to top 30 most common values).

In [ ]:
# your code goes here

Check the result. You should now have a much wider table, with the new columns consisting of binary features.

In [ ]:
train.head()

 ## Part 3: Adding numerical date features (5 points)

Next, we'll create some features based on the release date information. Create a new column storing the value for each of the following  aspects of a release date:
 
```
['year', 'weekday', 'month', 'weekofyear', 'day', 'quarter']
```
 
As usual, don't iterate explicitly to create these columns.

In [ ]:
# your code goes here

Next, we'll drop the columns that will not be used for learning.

In [ ]:
train = train.drop(['id', 'homepage', 'original_language',
                    'title', 'imdb_id', 'crew', 'poster_path',
                    'release_date', 'status', 'belongs_to_collection',
                    'Keywords', 'original_title', 'overview',
                    'production_companies', 'production_countries',
                    'spoken_languages', 'tagline', 'cast', 'genres'],
                   axis=1)

Lastly, drop any rows with missing values.

In [ ]:
# your code goes here

## Part 4: Prediction (10 pts)

Let's load the necessary `sklearn` libraries and prepare the training data for learning. Recall that your goal is to predict whether a movie has science fiction as an associated genre. So you're dealing with a binary classification task.

In [ ]:
from sklearn.model_selection import train_test_split

Use `sklearn` to prepare the training and test sets, setting aside 15% of the data for testing. Call the training input features, training labels, test input features and test labels as follows:

```
x_train, x_test, y_train, y_test
```

In [ ]:
# your code goes here

Feature scaling is a common requirement for many machine learning estimators: they might behave badly if the individual features do not more or less look like standard normally distributed data (e.g. Gaussian with 0 mean and unit variance). Run the following code to feature scale your input data.

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(x_train)
x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

Check that the shape of your data looks correct.

In [ ]:
print(x_train.shape, y_train.shape)
print(x_test.shape, y_test.shape)

Train a classifier of your choice. Then report results:
* Display the confusion matrix over the test set in absolute numbers.
    * These numbers reflect number of true positives, true negatives, false positives and false negatives.
* Display a normalized confusion matrix over the test set, so [sensitivity and specificity](https://en.wikipedia.org/wiki/Evaluation_of_binary_classifiers) can be read from the diagonal (off-diagonal will contain type I and type II error rates).
    * Note that sensitivity is recall for the positive class (1), whereas specificity is recall for the negative class (0).
* State **in free-text** the sensitivity and specificity of your classifier.

In [ ]:
# your code goes here

*Your explanation here*

## Part 5: Prediction with less leakage (5 points)

From Wikipedia, [data leakage](https://en.wikipedia.org/wiki/Leakage_(machine_learning)) is the use of information in the model training process which would not be expected to be available at prediction time, causing the predictive scores (metrics) to overestimate the model's utility when run in a production environment.

Feature or column-wise leakage is caused by the inclusion of columns which are one of the following: a duplicate label, a proxy for the label, or the label itself

Considering we're doing binary classification of whether a movie is science fiction, identify the most prominent cause of feature leakage among the features added during Exercise 3. 

1) **Argue** for your choice, 2) train a classifier not subject to this feature leakage (it's OK to create a new train/test split) and 3) **report the results** as you did in Part 4.

*Your explanation here*

In [ ]:
# your code goes here

# Exercise 4: Basic movie recommendation system (20 points)

In this exercise, you'll build a simple movie recommendation system.  The system will take a movie as input and recommend a list of similar movies. In order to recommend similar movies, you will use the correlation between the ratings of movies as a similarity metric. We'll use Pearson's correlation. 
 
The data for this exercise is available in the following URLs. It contains basic info about movies, as well as ratings provided by several users.

In [36]:
url1 = 'http://courses.compute.dtu.dk/02807/2021/projects/project1/ratings.csv'
url2 = 'http://courses.compute.dtu.dk/02807/2021/projects/project1/movies.csv'

## Part 1: Preparing the ratings data (10 pts)

Read the data from these two URLs, and create a single dataframe from them, with the following columns:

| userId | movieId | rating | timestamp | title | genres |
|--------|---------|--------|-----------|-------|--------|
|        |         |        |           |       |        |

Call the dataframe `movie_data`.

In [52]:
dfurl1 = pd.read_csv(url1)
dfurl1.head(3).T
# holds userId, movieId, rating, timestamp

                     0            1            2
userId             1.0          1.0          1.0
movieId            1.0          3.0          6.0
rating             4.0          4.0          4.0
timestamp  964982703.0  964981247.0  964982224.0

In [53]:

dfurl2 = pd.read_csv(url2)
dfurl2['movieId'] = dfurl2['movieId'].astype(float)

dfurl2.head(3).T
# holds movieId, title, genres

,0,1,2
movieId,1.0,2.0,3.0
title,Toy Story (1995),Jumanji (1995),Grumpier Old Men (1995)
genres,Adventure|Animation|Children|Comedy|Fantasy,Adventure|Children|Fantasy,Comedy|Romance

In [72]:
# movie_data = dfurl1.merge(dfurl2, how='outer', left_index=True, right_index=True)
movie_data = pd.merge(dfurl1, dfurl2, on='movieId')

movie_data.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

To find the correlation between the ratings of movies, create a dataframe where each column is a movie name and each row contains the rating assigned by a specific user to that movie. 

You'll notice that this dataframe has many NaN values, since each movie is not rated by every user. Call the dataframe `user_ratings`.

In [123]:
user_ratings = movie_data[['userId', 'title', 'rating']]
user_ratings = user_ratings.pivot_table(index=['userId'], columns=['title'], values=['rating'])

user_ratings.columns = [str(s2) for (s1, s2) in user_ratings.columns.tolist()]
user_ratings.reset_index(inplace=True)
user_ratings

,userId,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
606,607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.5,3.5,NaN,NaN,NaN
608,609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,610,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,...,NaN,4.0,3.5,3.0,NaN,NaN,2.0,1.5,NaN,NaN

## Part 2: Finding the most similar movies (10 pts)

Each column contains all the user ratings for a particular movie. Let's take the user ratings for the movie Toy Story.

In [200]:
toystory_ratings = user_ratings['Toy Story (1995)']
toystory_ratings

Title
0      4.0
1      NaN
2      NaN
3      NaN
4      4.0
      ...
605    2.5
606    4.0
607    2.5
608    3.0
609    5.0
Name: Toy Story (1995), Length: 610, dtype: float64

Next, find the correlation between the user ratings for Toy Story and the user ratings of all other movies. 
 
More specifically, create a dataframe that contains two columns, called `title` and `Correlation`. Each row should contain a movie title $x$, followed by the pairwise correlation between the column of ratings for Toy Story and the column of ratings for $x$.  Drop any rows with null values, and display the resulting dataframe.
 
Use built-in functions to compute correlations and avoid explicit loops.

In [201]:
def correlating(column):
    return pd.Series({'c': column.corr(toystory_ratings)})

TS_corr = user_ratings.apply(correlating, axis='rows').T.dropna().reset_index().drop(0)
TS_corr.columns = ['title', 'Correlation']
TS_corr

C:\Users\adrie\miniconda3\lib\site-packages\numpy\lib\function_base.py:2683: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
C:\Users\adrie\miniconda3\lib\site-packages\numpy\lib\function_base.py:2542: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

                               title  Correlation
1                 'burbs, The (1989)     0.240563
2        (500) Days of Summer (2009)     0.353833
3     *batteries not included (1987)    -0.427425
4              10 Cent Pistol (2015)     1.000000
5         10 Cloverfield Lane (2016)    -0.285732
...                              ...          ...
4763                    [REC] (2007)     0.129185
4764                 eXistenZ (1999)     0.333282
4765                      xXx (2002)    -0.244733
4766  xXx: State of the Union (2005)     0.129969
4767           ¡Three Amigos! (1986)    -0.387202

[4767 rows x 2 columns]

Sort the movies by descending order of correlation to find out highly correlated movies at the top. Display the 5 most highly correlated movies.

In [202]:
TS_corr.sort_values(by=['Correlation'], ascending=False).head(5)

                                                  title  Correlation
2384  Land Before Time III: The Time of the Great Gi...          1.0
3330                                 Prefontaine (1997)          1.0
2585     Machine Girl, The (Kataude mashin gâru) (2008)          1.0
4571                                 Waydowntown (2000)          1.0
640                                    Brigadoon (1954)          1.0

If you computed correlations correctly, you will find that the recommended movies are not very well known. We can generate more popular recommendations by finding highly correlated movies that have a sensible number of ratings. 
 
Add a column to your correlation table, called `rating_counts`, which stores the number of ratings received by each movie.

In [203]:
def counting(column):
    return pd.Series({'c': column.count()})

bbb = user_ratings.apply(counting, axis='rows').T.dropna().reset_index().drop(0)   #has 9719 rows
bbb.columns = ['title', 'rating_counts']

TS_corr = pd.merge(TS_corr, bbb, how='left', on='title')
TS_corr

                               title  Correlation  rating_counts
0                 'burbs, The (1989)     0.240563             17
1        (500) Days of Summer (2009)     0.353833             42
2     *batteries not included (1987)    -0.427425              7
3              10 Cent Pistol (2015)     1.000000              2
4         10 Cloverfield Lane (2016)    -0.285732             14
...                              ...          ...            ...
4762                    [REC] (2007)     0.129185              8
4763                 eXistenZ (1999)     0.333282             22
4764                      xXx (2002)    -0.244733             24
4765  xXx: State of the Union (2005)     0.129969              5
4766           ¡Three Amigos! (1986)    -0.387202             26

[4767 rows x 3 columns]

Now find the 5 movies with the highest correlation with Toy Story, which have strictly more than 100 ratings. Display the result below.

In [205]:
TS_corr = TS_corr[TS_corr.rating_counts > 100]
TS_corr.sort_values(by=['Correlation'], ascending=False).head(5)

                        title  Correlation  rating_counts
4351         Toy Story (1995)     1.000000            215
2100  Incredibles, The (2004)     0.643301            125
1459      Finding Nemo (2003)     0.618701            141
135            Aladdin (1992)     0.611892            183
2826    Monsters, Inc. (2001)     0.490231            132